.field {
	margin-bottom: .8em;

	label {
		display: block;
		margin-bottom: .5em;
		font-size: 0.9rem;
	}

	input {
		font-size: 1rem;
		height: 54px;
		padding: 12px;
		width: 100%;
	}
}

.field-display h5 {
	font-size: 1.6rem;
}

.service {
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
	margin-bottom: 10px;

	h4 {
		margin-bottom: .6rem;
		font-size: 1.4rem;
	}
}
